<body>
<embed src="http://ubr.ua/flvplayer/player.swf?1994821499" wmode="opaque" quality="high" width="376" height="334"
       name="main"
       flashVars="video1=http://ad.adriver.ru/cgi-bin/erle.cgi?sid=134889%26target=blank%26bt=53%26pz=0%26rnd=1216964718&video2=http://ubr.ua/files/news/650/65002.flv&image=http://ubr.ua/files/news/650/65002_352x288.jpg&link1=http://ad.adriver.ru/cgi-bin/click.cgi?sid=134889%26bt=53%26pz=0%26rnd=999767422"
       align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash"
       pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlashr"/>
</body>