<form action="http://www.google.com.ua/cse" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-3460097184736876:1552085605" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="60" />
    <input type="submit" name="sa" value="&#x041f;&#x043e;&#x0438;&#x0441;&#x043a;" />
  </div>
</form>
                                        <br/>

<script type="text/javascript" src="http://www.google.com.ua/coop/cse/brand?form=cse-search-box&amp;lang=ru"></script>
