<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
</head>
<body>
<object width="480" height="500">
    <param name="movie"
           value="http://www.skillopedia.ru/player/video.swf?id=http://62.152.60.98/data/materials/5/11f2d2b06e354c93da8098b0bd1b7f50/&amp;video_width=320&amp;video_height=240&amp;stream_length=363&amp;titles=0&amp;first_slide=true&amp;last_slide=true"/>
    <param name="wmode" value="window"/>
    <param name="allowFullScreen" value="true"></param>
    <embed src="http://www.skillopedia.ru/player/video.swf"
           flashvars="id=http://62.152.60.98/data/materials/5/11f2d2b06e354c93da8098b0bd1b7f50/&video_width=320&video_height=240&stream_length=363&titles=0&first_slide=true&last_slide=true"
           type="application/x-shockwave-flash" wmode="window" width="480" height="500" allowfullscreen="true"/>
</object>
</body>
</html>